<h1><%= @movie.title %></h1>
<h2><%= @movie.year %></h2>
<h2><%= @movie.genre %></h2>

<section id="actors">
  <h4>Actors:</h4>
  <h4>Average age: <%= @actors_avg_age %></h4>
  <% @movie.actors.sort_by_youngest.each do |actor| %>
    <p><%= actor.name %> - Age: <%= actor.age %></p>
  <% end %>
</section>

<section id="add-actor">
  <h1>Add Actor To This Movie</h1> 
  <%= form_with(url: movie_actors_path(@movie), local: true) do |f| %>
    <p>
      <%= f.label :name, "Actor Name" %><br/>
      <%= f.select(:actor_name, options_for_select(@actors.map { |u| [u.name]}) ) %>
    </p>
    <p>
      <%= f.submit 'Add' %>
    </p>
  <% end %>
</section>